{% load static %}
{% load app_extras %}

<div class="dish">
    
    <div class="dish-photo-column">
        <div class="dish-photo">
            {% if dish.dish_image %}
            <div class="dish-photo-image">
                <a href="{% url "dish_detail" dish.dish_id %}"><img src="/media/{{ dish.dish_image }}" /></a>
            </div>
            {% else %}
            <div class="dish-photo-placeholder">
                {% ifequal user.id dish.chef_id_id %}
                <a href="{% url "dish_photo_update" dish.dish_id %}?next=0"><img src="{% static "emoji/img/placeholder-add-dish.png" %}"/></a>
                {% else %}
                <a href="{% url "dish_detail" dish.dish_id %}"><img src="{% static "emoji/img/placeholder-dish.png" %}"/></a>
                {% endifequal %}
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="dish-text-column">
        <div class="dish-header">
            <div class="dish-header-chef">
                <a href="{% url "chef_detail" dish.chef_id_id %}">{{ dish.chef_id.first_name }} </a>
                <!--{{dish.chef_id.last_name.0}}-->
            </div>
            <div class="dish-header-center-date" >
                {{ dish.date_created|date:"D M.d"|lower }} &middot;
            </div>
            <div class="dish-header-center-rating" >
                {% if dish.dish_rating %}
                    {% for i in "x"|rjust:dish.dish_rating %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="dish-header-right">
                &middot; <a href="{% url "dish_add_todo"%}?next={{dish.recipe_id_id}}"><i class="fa fa-calendar-plus-o"></i></a> &middot;
                {% ifequal dish.recipe_id_id 1 %}
                <a href="{% url "dish_detail" dish.dish_id %}"><i class="fa fa-question fa-lg"></i></a>
                {% else %}
                <a href="{% url "recipe_detail" dish.recipe_id_id %}"><i class="fa fa-book"></i></a>
                {% endifequal %}
                {% ifequal user.id dish.chef_id_id %}
                &middot; <a href="{% url "dish_update" dish.dish_id %}"><i class="fa fa-pencil"></i></a>
                {% endifequal %}
            </div>

            {% if dish.recipe_id_id != 1 %}
            <div class="dish-header-recipe-name">
                <a href="{% url "recipe_detail" dish.recipe_id_id %}">{{ dish.recipe_id }}:</a>
            </div>
            {% endif %}
            <div class="dish-header-dish-name">
                <a href="{% url "dish_detail" dish.dish_id %}">{{ dish.dish_name }}</a>
            </div>
        </div>

        <div class="dish-tags">
            {% for tag in dish.tags.names %}
                <a href="{% url "tagsearch_results" %}?q={{tag}}">#{{ tag }}</a> &middot;
            {% endfor %}
        </div>

        {% if dish.dish_method %}
        <div class="dish-method">
            <div class="dish-method-label">
                Method:
            </div>
            <div class="dish-method-text">
                {{ dish.dish_method | safe | hashtag_links | truncatewords:40 }}
            </div>
        </div>
        {% endif %}
        {% if dish.dish_comments %}
        <div class="dish-review">
            <div class="dish-review-label">
                Review:
            </div>
            <div class="dish-review-text">
                {{ dish.dish_comments | safe | hashtag_links | truncatewords:40 }}
            </div>
        </div>
        {% endif %}

        <div class="dish-likes">
            <!--Compliments:-->
            <div class="dish-likes-like">
                <!-- todo: make button look good, and inline, and mouseover "give compliments"-->
                <form action="{% url "new_like" dish.dish_id %}?next=0" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="like_chef_id" value="{{user.id}}" style="width: 60px; font-size: 14px; margin-left: 10px;"/>
                    <!--super super super dodgy way to do this, but it'll work for now-->
                    {% for chef_like in dish.like_chef_id.all %}
                    <input type="hidden" name="like_chef_id" value="{{chef_like.chef_id}}" style="width: 60px; font-size: 14px; margin-left: 10px;"/>
                    {% endfor %}
                    <button title="Give compliments!" type="submit" style="background-color: Transparent; border: none; color: #666666; padding: 0px 0px;"> <i class="fa fa-thumbs-up"></i></button>
                </form>
                <!--<a href="/cooklog/compliments/{{dish.dish_id}}/?next=0"><i class="fa fa-thumbs-up" aria-hidden="true"></i>   </a> {{ dish.like_chef_id.count }}-->
            </div>
            <div class="dish-likes-compliment-count">
                {{ dish.like_chef_id.count }} gave compliments:
            </div>
            <div class="dish-likes-chef-list">
                {% for chef_like in dish.like_chef_id.all %}
                <a href="{% url "chef_detail" chef_like.chef_id %}">{{chef_like.first_name}}</a>,
                {% endfor %}
            </div>
        </div>
        
        <div class="dish-comments">
            <div class="dish-comments-icon">
                <!--<a href="{% url 'comment_add' %}?next={{dish.dish_id}}"><i class="fa fa-comment" aria-hidden="true"></i></a>-->
                <i class="fa fa-comment" aria-hidden="true"></i>
            </div>
            <div class="dish-comments-wrapper">

                {% for chef_comment in chef_comments %}
                {% ifequal chef_comment.dish_id_id dish.dish_id %}
                <div class="dish-single-comment">
                    <div class="dish-comments-name" >
                        <a href="{% url "chef_detail" chef_comment.chef_id_id %}">{{ chef_comment.chef_id.first_name }}</a>:
                    </div>

                    <div class="dish-comments-delete">
                        {% ifequal user.id chef_comment.chef_id_id %}
                            <!--<a href="/cooklog/comment/delete/{{chef_comment.chef_dish_comment_id}}/"><i class="fa fa-close" aria-hidden="true"></i></a>-->
                            <form action="{% url "comment_delete" chef_comment.chef_dish_comment_id %}?next=0" method="post">
                                {% csrf_token %}
                                <button title="Delete comment" type="submit"
                                        style="display: inline-block; background-color: Transparent;
                                        border: none; color: #d3d3d3; font-size: 8px; padding: 0px 0px;">
                                    <i class="fa fa-close"></i></button>
                            </form>
                        {% endifequal %}
                    </div>
                    <div class="dish-comments-comment">
                        {{ chef_comment.chef_dish_comment | truncatechars:500 }}
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}

                <div class="dish-single-comment">
                    <div class="dish-comments-name">
                        <a href="{% url "chef_detail" user.id %}">{{ user.get_username }}</a>:
                    </div>
                    <!--<div class="dish-comments-comment" style="font-style: italic; font-size: 8px; color: #d3d3d3;">-->
                        <!--<a href="{% url 'comment_add' %}?next={{dish.dish_id}}&c=0"> ... write a comment ... </a>-->
                    <!--</div>-->
                    <div class="dish-comments-comment">
                        <form method="post" action="{% url "comment_add" %}?next={{dish.dish_id}}&c=0">
                            {% csrf_token %}
                            <input type="hidden" name="dish_id" value={{dish.dish_id}} style="width: 60px; font-size: 14px; margin-left: 10px;"/>
                            <input type="hidden" name="chef_id" value={{user.id}} style="width: 60px; font-size: 14px; margin-left: 10px;"/>
                            <input type="text" name="chef_dish_comment">
                            <!--<input type="submit" value=""> .. dont need this!-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dish-diagram-column">
        <div class="dish-diagram-image">
            <!--or could do this "if" in the app_extras and if file not exist then return "placeholder icon and link"-->
        {% if dish.dish_diagram_text %}
            {% ifequal user.id dish.chef_id_id %}
            <a href="{% url "dish_diagram_update" dish.dish_id %}">{% include_dish_diagram dish.dish_id %}</a>
            {% else %}
            <a href="{% url "dish_detail" dish.dish_id %}">{% include_dish_diagram dish.dish_id %}</a>
            {% endifequal %}
        {% elif dish.dish_diagram_image %}
            <a href="{% url "dish_detail" dish.dish_id %}"><img src="/media/{{ dish.dish_diagram_image }}" /></a>
        {% else %}
            {% ifequal user.id dish.chef_id_id %}
            <a href="{% url "dish_diagram_update" dish.dish_id %}"> Make a diagram <i class="fa fa-pencil"></i>
            <!--: <i class="fa fa-square-o"></i>-->
            <!--<i class="fa fa-long-arrow-right"></i><i class="fa fa-square-o"></i><i class="fa fa-long-arrow-right"></i>-->
            <!--<i class="fa fa-square-o"></i> -->
            </a>
            {% endifequal %}
        {% endif %}
        </div>
    </div>
    <div class="dish-bottom">
    </div>
</div>

