{% extends 'cooklog/__base.html' %}
{% load humanize %}
{% load static %}

{% block body_block %}

<div class="page-title" style="margin-top: 0px">
    <div class="pagination" style="margin-top: 0px; margin-bottom: 4px;">
        <span class="step-links">
            {% if page_dishes.has_previous %}
            <a href="?page={{ page_dishes.previous_page_number }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            {% endif %}
            the feed
            {% if page_dishes.has_next %}
            <a href="?page={{ page_dishes.next_page_number }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            {% endif %}
        </span>
    </div>
</div>

{% for dish in page_dishes %}
<div class="dish-album">
    
    <div class="album-date">
        {{ dish.date_created|date:"D M.d"|lower }}
    </div> |
    <div class="album-dish-chef-name">
        <a href="/cooklog/chef/{{dish.chef_id_id}}/">{{ dish.chef_id.first_name }}</a>
    </div> |
    <div class="album-recipe-icon">
        {% ifequal dish.recipe_id_id 1 %}
            <a href="/cooklog/dish/{{dish.dish_id}}/"><i class="fa fa-question fa-lg"></i></a>
        {% else %}
            <a href="/cooklog/recipe/{{dish.recipe_id_id}}/"><i class="fa fa-book"></i></a>
        {% endifequal %}
    </div> |
    <div class="album-stars">
        {% if dish.dish_rating %}
        {% for i in "x"|rjust:dish.dish_rating %}
        <i class="fa fa-star"></i>
        {% endfor %}
        {% endif %}
    </div>
    
    
    {% if dish.dish_image %}
        <div class="album-photo">
        <a href="/cooklog/dish/{{dish.dish_id}}/"><img src="/media/{{ dish.dish_image }}" /></a>
        </div>
    {% else %}
        <div class="album-img-placeholder">
        <a href="/cooklog/dish/{{dish.dish_id}}/"><img src="{% static "emoji/img/placeholder-dish.png" %}"/></a>
        </div>
    {% endif %}
    
    <div class="album-dish-name">
        <a href="/cooklog/dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
    </div>
</div>

{% endfor %}

{% endblock %}
