{% extends 'cooklog/__base.html' %}

{% block body_block %}
<h2>latest feeds:</h2>

{% for dish in latest_dishs %}
    <div class="dish">
    <i>{{ dish.date_created|timesince }} ago <a href="chef/{{dish.chef_id_id}}/">{{ dish.chef_id }}</a>:</i>
    <a href="dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
    {% load static %}
    {% if dish.dish_rating %}
    {% for i in "x"|rjust:dish.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="15"/>
    {% endfor %}
    {% endif %}
    <i>( ... a <a href="recipe/{{dish.recipe_id_id}}/">{{ dish.recipe_id }}</a> dish)  </i>
    
    {% if dish.dish_image %}
    <a href="dish/{{dish.dish_id}}/"><img src="/media/{{ dish.dish_image }}" height="100" style="border: #F2D388 4px solid;"/></a>
    {% endif %}
    
    </div>
{% empty %}
    <li>No dishes yet.</li>
{% endfor %}
{% endblock %}

