{% extends 'cooklog/__base.html' %}


<head>
    <title>New Recipe Category</title>
</head>

{% block body_block %}

<div class="dish-entry">
    
    <div class="page-body" style="width: 400px; margin-left: 20px;">
        <p> Submit bug or request: </p>
        <p> Please tell me about something that doesn't work, or something that you'd like done differently! (There's a good chance that I'm well aware of the issue, and still figuring out how to fix the bug or add the feature, but please tell me about it anyway!)</p>
        <p> Thanks! - Katie </p>
    </div>
    
    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Thank you!">
        </form>
        
    </div>
    
{% endblock %}
