{% extends 'cooklog/__base.html' %}


<head>
    <title>Dish Entry</title>
</head>

{% block body_block %}

<div class="dish-entry">
    <div class="page-title">
        Enter new dish:
    </div>
    <div class="page-subtitle">
        <a href="../../recipe/add/">new recipe</a> |
        {new dish:
        <a href="../../dish/add/">done(short)</a> |
        <a href="../../dish/add-full/">done(long)</a> |
        <a href="../../dish/add-todo/">to-do</a> }
    </div>

    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Done!">
        </form>
    </div>
    
    

{% endblock %}
