{% extends 'cooklog/__base.html' %}


<head>
    <title>Dish Entry</title>
</head>

{% block body_block %}

<div class="dish-entry">
    <div class="page-title">
        Enter or edit dish:
    </div>
    <div class="page-text">
        <a href="../../recipe/add/?u={{user.id}}">new recipe</a> |
        {new dish:
        <a href="../../dish/add/?u={{user.id}}">short-form</a> |
        <a href="../../dish/add-full/?u={{user.id}}">long-form</a> }
    </div>

    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
    </div>
    
    

{% endblock %}
