{% extends 'cooklog/__base.html' %}
{% load humanize %}
{% load static %}

{% block body_block %}

<div class="page-text">
    <p>Enter a dish that you're PLANNING to cook!</p>
    <p>(1) Does the recipe exist on this site?</p>
    <p> YES --> <a href="/cooklog/dish/add-todo/">Enter the dish here</a>,</p>
    <p> NO ---> <a href="/cooklog/recipe/add/?next=newtodo">Enter the recipe</a>, and then the dish</p>

    <!--<p> NO -&ndash;&gt; (2) Do you want to enter the recipe now? </p>-->
    <!--<p> ... ... ... YES &ndash;&gt; <a href="/cooklog/recipe/add/?next=newtodo">Enter the recipe here</a> (then enter the dish on the page after)</p>-->
    <!--<p> ... ... ... NO -&ndash;&gt; <a href="/cooklog/dish/add-todo/">Just enter the dish</a> (enter recipe later, or leave the dish unattached)</p>-->
<!--I removed /cooklog/dish/quick-todo/ for now! -->
</div>

{% endblock %}
