{% extends 'cooklog/__base.html' %}
{% load static %}


<head>
    <title>Dish Entry</title>
</head>

{% block body_block %}

<div class="dish-entry">
    {% comment %}
    <div class="page-title">
        Enter new dish:
    </div>
    {% endcomment %}

    <div class="dish-entry-form">
        
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post" enctype="multipart/form-data">
            <!--<table>-->
                <!--{{ form.as_table }}-->
            <!--</table>-->
            <p>Take or Upload photo: {{ form.dish_image}} </p>
            <p>Dish name: {{ form.dish_name}}</p>
            <p>Tags: {{ form.tags }} </p>
            Dish rating:
            {% for radio in form.dish_rating %}
                    <div class="form-radio">
                        {{ radio }} <i class="fa fa-star"></i>
                    </div>
                {% endfor %}
            <p></p>
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
    </div>


{% endblock %}

<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>

{{ form.media }}


