{% extends 'cooklog/__base.html' %}

<head>
    <title>Edit Dish Photo</title>
</head>
{% block body_block %}

<div class="dish-entry">
    <div class="page-subtitle">
        Add/edit dish photo:
    </div>
    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post" enctype="multipart/form-data">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <p> </p>
            <input type="submit" value="Post photo">
        </form>
    </div>
</div>
{% endblock %}

