{% extends 'cooklog/__base.html' %}
{% load static %}

<head>
    <title>Dish Diagram Entry</title>
</head>
{% block body_block %}

<div class="dish-entry">
    <div class="page-title" style="margin-bottom: 10px;">
        Enter or edit the dish diagram text:
    </div>
    <div class="page-subtitle" style="margin-bottom: 10px; color: #333333">
        (it's easier than it looks! just follow the pattern in the example below)
    </div>

    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post" enctype="multipart/form-data">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">

        </form>
    </div>
    <div class="example-diagram">
        <img src="{% static "emoji/img/example_diagram.png" %}"/>
    </div>

</div>
{% endblock %}

