{% comment %}
Pasted from here. But I don't have plenty of these things.. so I removed them.
And it "breaks" the title of home, and the side column isn't on the side.
{% endcomment %}

<!DOCTYPE html>

<html>
    <head>
        <h2>cookbook - {% block title %}Log what you cook!{% endblock %}</h2>
    </head>
    
    <body>
        <div>
            {% if user.is_authenticated %}
            <p>Welcome, <b>{{ user.username }}</b>. (Not {{ user.username }}? <a href="login/">Log in</a> as someone else.)</p>
            {% else %}
            <p>Welcome, Please <a href="login/">log in</a> or <a href="register/">register</a>.</p>
            {% endif %}
            
            <ul>
                
                {% if user.is_authenticated %}
                    <li><a href="/cooklog/restricted/">Restricted Page</a></li>
                    <li><a href="/cooklog/logout/">Logout</a></li>
                    <li><a href="/cooklog/dishes/">Put other links here</a></li>
                {% else %}
                    <li><a href="/cooklog/register/">Register Here</a></li>
                    <li><a href="/cooklog/login/">Login</a></li>
                {% endif %}
                
                    <li><a href="/cooklog/">Feed</a></li>
            </ul>
        </div>

        <hr />
        
        <div>
            {% block body_block %}{% endblock %}
        </div>
        

    </body>
</html>
