<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet">
        <link rel="stylesheet"  type='text/css' href="/static/css/cooklog.css?{% now "U" %}">
        
        <div class="page-header">
            <div class="page-header-title">
                <a href="/cooklog/">COOKQUO</a>
            </div>
            <div class="page-header-menu" style="float:left;">
                {
                <div class="dropdown">
                    <button class="dropbtn"><a href="/cooklog/dish/new/"> new </a></button>
                    <div class="dropdown-content">
                        <a href="/cooklog/dish/new/">Dish(quick)</a>
                        <a href="/cooklog/dish/add/">Dish(short)</a>
                        <a href="/cooklog/dish/add-full/">Dish(long)</a>
                        <a href="/cooklog/dish/add-todo/">Dish(to-do)</a>
                        <a href="/cooklog/recipe/add/">Recipe</a>
                        <a href="/cooklog/ingredient/add/">Ingredient</a>
                    </div>
                </div> |
                <div class="dropdown">
                    {% if user.is_authenticated %}
                    <button class="dropbtn"><a href="/cooklog/chef/{{user.id}}">my feed</a></button>
                    <div class="dropdown-content">
                        <a href="/cooklog/chef/todo/{{user.id}}">My to-do</a>
                        <a href="/cooklog/chef/brief/{{user.id}}">Compact</a>
                        <a href="/cooklog/chef/album/{{user.id}}">Album</a>
                        <a href="/cooklog/logout/">Logout[{{ user.username }}]</a>
                    </div>
                    {% else %}
                    <button class="dropbtn">User</button>
                    <div class="dropdown-content">
                        <a href="/cooklog/login/">Login</a>
                        <a href="/cooklog/register/">Register</a>
                    </div>
                    {% endif %}
                </div>
                }
            </div>
            <div class="page-header-menu" style="float:left; margin-left: 50px">
                <form action="{% url 'search_results' %}" method="get">
                    <input type="text" name="q" style="width: 120px; font-size: 14px;"/>
                    <button type="submit" style="width: 60px; font-size: 14px;"/>search</button>
                </form>
            </div>
             
        </div>
    </head>
    
    <body>
        
        {% comment %}
        <hr />
        {% endcomment %}
        
        <div>
            {% block body_block %}{% endblock %}
        </div>
        

    </body>
    
    <footer>
        <div class="page-footer">
            cooko | C O O K L O O K | C O Q U O | cookt | cookit | cooko | katieq's cooking log.
        </div>
    </footer>
        
</html>
