<!DOCTYPE html>

<html>
    <head>
        <h2>cook-book | <a href="/cooklog/">Home</a></h2>
    </head>
    
    <body>
        <div>
            {% if user.is_authenticated %}
            <p>Welcome, <b>{{ user.username }}</b>. (Not {{ user.username }}? <a href="/cooklog/login/">Log in</a> as someone else.) |
            {% else %}
            <p>Welcome, Please <a href="/cooklog/login/">log in</a> or <a href="/cooklog/register/">register</a>. |
            {% endif %}
            
            {% if user.is_authenticated %}
                <a href="/cooklog/chef/{{user.id}}">My page (Katie's for now!)</a> |
                <a href="/cooklog/logout/">Logout</a> |
                <a href="/cooklog/dishes/">Put other links here</a> |
            {% else %}
                <a href="/cooklog/register/">Register Here</a> |
                <a href="/cooklog/login/">Login</a> |
            {% endif %}
            
        </div>

        <hr />
        
        <div>
            {% block body_block %}{% endblock %}
        </div>
        

    </body>
</html>
