{% extends 'cooklog/__base.html' %}
{% load humanize %}
{% load static %}

{% block body_block %}

<div class="page-title">
    <div class="pagination" style="margin-top: 0px; margin-bottom: 4px;">
        <span class="step-links">
            {% if page_dishes.has_previous %}
            <a href="?page={{ page_dishes.previous_page_number }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            {% endif %}
            {% ifequal user.id object.chef_id %}
            My latest dishes
            {% else %}
            {{object.first_name}}'s dishes
            {% endifequal %}
            {% if page_dishes.has_next %}
            <a href="?page={{ page_dishes.next_page_number }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            {% endif %}
        </span>
    </div>
</div>

{% for dish in page_dishes %}
    {% include "dish_album.html" %}

{% endfor %}
<p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_dishes.has_previous %}
        <a href="?page={{ page_dishes.previous_page_number }}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_dishes.number }} of {{ page_dishes.paginator.num_pages }}.
        </span>
        
        {% if page_dishes.has_next %}
        <a href="?page={{ page_dishes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
