{% extends 'cooklog/__base.html' %}
{% load humanize %}
{% load static %}

{% block body_block %}

<div class="page-title">
    <a href="../../{{object.chef_id}}/"> {{object.first_name}}</a>'s to-do list
</div>

{% for dish in todo_dishes %}
{% include "dish_mini_todo.html" %}
{% empty %}
<div class="dish-empty">
    No dishes yet.
</div>
{% endfor %}

<div class="page-title">
    Archived to-do dishes
</div>

{% for dish in archive_dishes %}
{% include "dish_mini_todo.html" %}
    {% empty %}
    <div class="dish-empty">
        No dishes yet.
    </div>
    {% endfor %}


{% endblock %}
