{% extends 'cooklog/__base.html' %}

{% block body_block %}

<h2> {{object.first_name}}'s feed </h2>
<i>({{ object.email }} | cooklogger since {{ object.date_created|date }})</i>

<h3> {{ object.first_name}}'s latest few dishes: </h3>

{% for dish in latest_dishes %}
<div>
    <p>
        <i>{{ dish.date_created|timesince }} ago:</i>
        <a href="/cooklog/dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
        {% load static %}
        {% if dish.dish_rating %}
        {% for i in "x"|rjust:dish.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="15"/>
        {% endfor %}
        {% endif %}
        <i>( ... a <a href="/cooklog/recipe/{{dish.recipe_id_id}}/">{{ dish.recipe_id }}</a> dish)</i>
    </p>
    {% if dish.dish_image %}
    <ul><ul><ul><ul><a href="/cooklog/dish/{{dish.dish_id}}/"><img src="/media/{{ dish.dish_image }}" height="100" /></a></ul></ul></ul></ul>
    {% endif %}
    </a>
</div>
{% empty %}
<li>No dishes yet.</li>
{% endfor %}

<h3> {{ object.first_name}}'s best rated dishes: </h3>

{% for dish in best_dishes %}
<div>
    <p>
        <i>{{ dish.date_created|timesince }} ago:</i>
        <a href="/cooklog/dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
        {% load static %}
        {% if dish.dish_rating %}
        {% for i in "x"|rjust:dish.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="15"/>
        {% endfor %}
        {% endif %}
        <i>( ... a <a href="/cooklog/recipe/{{dish.recipe_id_id}}/">{{ dish.recipe_id }}</a> dish)</i>
    </p>
    {% if dish.dish_image %}
    <ul><ul><ul><ul><a href="/cooklog/dish/{{dish.dish_id}}/"><img src="/media/{{ dish.dish_image }}" height="100" /></a></ul></ul></ul></ul>
    {% endif %}
    </a>
</div>
{% empty %}
<li>No dishes yet.</li>
{% endfor %}

<h3> All {{ object.first_name}}'s previous dishes: </h3>

{% for dish in all_dishes %}
<div>
    <p>
        <i>{{ dish.date_created|date:"D, M d" }}:</i>
        <a href="/cooklog/dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
        {% load static %}
        {% if dish.dish_rating %}
        {% for i in "x"|rjust:dish.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="15"/>
        {% endfor %}
        {% endif %}
        <i>( ... a <a href="/cooklog/recipe/{{dish.recipe_id_id}}/">{{ dish.recipe_id }}</a> dish)</i>
    </p>
    {% if dish.dish_image %}
    <ul><ul><ul><ul><a href="/cooklog/dish/{{dish.dish_id}}/"><img src="/media/{{ dish.dish_image }}" height="100" /></a></ul></ul></ul></ul>
    {% endif %}
    </a>
</div>
{% empty %}
<li>No dishes yet.</li>
{% endfor %}

<h3> {{ object.first_name}}'s scheduled dishes: </h3>

Plan to cook ...
{% for dish in todo_dishes %}
<div>
    <p> ...
    <a href="/cooklog/dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
    <i>( ... a <a href="/cooklog/recipe/{{dish.recipe_id_id}}/">{{ dish.recipe_id }}</a> dish)</i>
    on {{ dish.date_scheduled|date:"D, M d" }} in {{ dish.date_created|timesince }}</p>
</div>
{% empty %}
<li>No dishes yet.</li>
{% endfor %}




{% endblock %}
