{% extends 'cooklog/__base.html' %}
{% load humanize %}
{% load static %}

{% block body_block %}

<div class="page-title">
    {{object.first_name}}'s recent cooking summary [in progress!]
</div>

<div class="page-subtitle">
    dish summary for the last week:
</div>

<p> In the last week, have cooked {{ week_dish.count }} dish{{ week_dish.count|pluralize:",es" }} ...</p>

<p> Dish rating summary: </p>
{% for x in week_rating_count %}
<p> ... {{ x.dish_id__count }} dish{{ x.dish_id__count|pluralize:",es"}} with {{x.dish_rating}} stars. </p>
{% empty %}
<p> (no dishes) </p>
{% endfor %}

<p> Recipe summary: </p>
{% for item_x in week_recipe_count %}
<p> ... {{ item_x.recipe_id__count }} dish{{ item_x.recipe_id__count|pluralize:",es"}} of the recipe with ID {{ item_x.recipe_name }} </p>
{% empty %}
<p> (no dishes) </p>
{% endfor %}

<p> Dish type summary: </p>
<p> todo </p>

<div class="page-subtitle">
    dish summary for the last month:
</div>

<p> In the last month, have cooked {{ month_dish.count }} dish{{ month_dish.count|pluralize:",es" }}.</p>

{% for x in month_rating_count %}
<p> You cooked {{ x.dish_id__count }} dish{{ x.dish_id__count|pluralize:",es"}} that got a rating of {{x.dish_rating}} </p>
{% empty %}
<p> is empty </p>
{% endfor %}

{% for x in month_recipe_count %}
<p> You cooked {{ x.dish_id__count }} dish{{ x.dish_id__count|pluralize:",es"}} of the recipe with ID {{x.recipe_id}} </p>
{% empty %}
<p> is empty </p>
{% endfor %}

{% for x in month_dishtype_count %}
<p> You cooked {{ x.dish_id__count }} dish{{ x.dish_id__count|pluralize:",es"}} of the dish type with ID {{x.dishtype_id}} </p>
{% empty %}
<p> is empty </p>
{% endfor %}



{% endblock %}
