{% extends 'cooklog/__base.html' %}
{% load humanize %}
{% load static %}

{% block body_block %}

<div class="page-title">
    {{object.first_name}}'s recent cooking summary
</div>

<div class="page-subtitle">
    dish summary:
</div>

<p> In the last week, have cooked {{ recent_dish.count }} dish{{ recent_dish.count|pluralize:",es" }}.</p>

{% for x in rating_count %}
<p> You cooked {{ x.dish_id__count }} dish{{ x.dish_id__count|pluralize:",es"}} that got a rating of {{x.dish_rating}} </p>
{% empty %}
<p> is empty </p>
{% endfor %}

{% for x in recipe_count %}
<p> You cooked {{ x.dish_id__count }} dish{{ x.dish_id__count|pluralize:",es"}} of the recipe with ID {{x.recipe_id}} </p>
{% empty %}
<p> is empty </p>
{% endfor %}



{% endblock %}
