
{% extends 'cooklog/__base.html' %}
{% load static %}
{% load app_extras %}

{% block body_block %}

<div class="page-title">
<a href="../../chef/{{object.chef_id_id}}/">{{ dish.chef_id.first_name }} {{ dish.chef_id.last_name.0}}'s</a> {{ object.dish_name }}
</div>

<div class="dev">
    <p> Matched on having any of: {{ recipe_matcher }} </p>

    Testing out a search function:
    Choose an existing recipe...
    {% for recipe in recipe_match %}
        <div class="button-recipe-choose">
            <a href="/cooklog/dish/recipe_choose/{{object.dish_id}}/?next={{recipe.recipe_id}}">{{ recipe.recipe_name }}</a>
        </div>
    {% endfor %}
    ... or <a href="/cooklog/recipe/add/?next={{object.dish_id}}">make a new one</a> for this dish!
    <p>(So far, it just let's you make a new one. TODO: This dish gets automatically assigned to that new recipe.)</p>
</div>

{% ifequal user.id dish.chef_id_id %}
<div class="page-text">
    <a href="/cooklog/dish/add/{{object.dish_id}}/">Edit dish </a>
</div>
{% endifequal %}
<div class="page-text">
    {{ object.date_created|date:"D, M d" }}
</div>

{% ifequal object.dish_status "1" %}
<div class="dish-full">
    
    <div class="dish-full-stars">
        {% if object.dish_rating %}
        {% for i in "x"|rjust:object.dish_rating %}
        <i class="fa fa-star"></i>
        {% endfor %}
        {% endif %}
    </div>
    
    <div class="dish-full-recipe">
        Recipe: <a href="../../recipe/{{object.recipe_id_id}}/">{{ object.recipe_id }}</a>, a {{recipe.recipe_type}} (first uploaded by <a href="../../chef/{{recipe.chef_id_id}}/">{{ recipe.chef_id.first_name }} {{ recipe.chef_id.last_name.0}}</a>)
    </div>

    <div class="dish-full-subtitle">
        Photo:
    </div>
    <div class="dish-full-image-holder">
        {% if object.dish_image %}
        <div class="dish-full-image">
        <img src="/media/{{ object.dish_image }}" />
        </div>
        <p> {{ object.photo_comment}} </p>
        {% else %}
        No photos yet, <a href="/cooklog/dish/add/{{object.dish_id}}">upload here. </a>
        {% endif %}
    </div>
    
    {% if object.dish_source %}
    <div class="dish-full-subtitle">
        Source:
    </div>
    <div class="dish-full-method">
        <a href="{{object.dish_source}}">{{ object.dish_source }}</a>
    </div>
    {% endif %}

    <div class="dish-full-subtitle">
        Method:
    </div>
    <div class="dish-full-method">
        {{object.dish_method|safe|hashtag_links}}
    </div>
    
    {% if object.dish_comments %}
        <div class="dish-full-subtitle">
            Comments/Review:
        </div>
        <div class="dish-full-chef-comments">
            {{ object.dish_comments|safe|hashtag_links }}
        </div>
    {% endif %}
    
    {% comment %}
    <div class="dish-full-subtitle">
        Tags:
    </div>
    {% for tag in object.tags.all %}
    <li> <a href="/cooklog/search/?q={{tag.name}}">{{ tag.name }}</a> </li>
    {% endfor %}
    {% endcomment %}

    <div class="dish-social-comments-and-likes">
    
        {% if chef_comments %}
        {% for chef_comment in chef_comments %}
        <div class="dish-full-comments">
            {{chef_comment.chef_id}} <i> says </i> {{ chef_comment.chef_dish_comment|safe|hashtag_links }}
            
            <a href="/cooklog/comment/delete/{{chef_comment.chef_dish_comment_id}}/?next={{object.dish_id}}">[delete]</a>
            
        </div>
        {% endfor %}
        {% else %}
        <div class="dish-full-no-comments">
            No one has commented yet!
        </div>
        {% endif %}
        <div class="dish-button-add-comment">
            <a href="{% url 'comment_add' %}?next={{object.dish_id}}">+comment</a>
        </div>

<p> {{ object.like_chef_id.count }} likes (for in-dish-model likes): </p>
{% for chef_like in object.like_chef_id.all %}
<li><a href="../../chef/{{chef_like.first_name}}/">{{chef_like.first_name}}</a></li>
{% endfor %}
<p> BUG: Yet to solve: these chef_like links don't work. </p>

{% if user_chef_like.count %}
<p> you've liked it! </p>
{% else %}
<p> you haven't liked it (yet) </p>
{% endif %}

{% comment %}
        {% if likes %}
        <div class="dish-full-likes">
            <img src="{% static "emoji/img/yum.png" %}" alt="yum" height="30"/>
            {{ likes|length }} person liked it!
            {% for like in likes %}
            <i><a href="../../chef/{{like.chef_id_id}}/">{{like.chef_id.first_name}}</a></i>,
            {% endfor %}
        </div>
        {% else %}
        <div class="dish-full-no-likes">
            No one likes it! (yet..)
        </div>
        {% endif %}
        {% if user_likes %}
            <div class="dish-full-no-likes">
                You've liked it already.
            </div>
        {% else %}
        <div class="dish-button-add-like">
            <a href="{% url 'like_add' %}?next={{object.dish_id}}">+like</a>
        </div>
        {% endif %}
        {% endcomment %}
    </div>

    <div class="dish-full-subtitle">
        Ingredients:
    </div>

    <div class="dish-full-ingredients">
        {% for ingredient in object.ingredient_id.all %}
            <a href="../../ingredient/{{ingredient.ingredient_id}}/">{{ ingredient.ingredient_name }}</a>,
        {% empty %}
            No ingredients listed.
        {% endfor %}
    </div>
    </div>

{% else %}

<div class="dish-full">
    
    <div class="dish-full-days-until">
        Scheduled to cook on {{ dish.date_scheduled | date:"D, d-m"}}
    </div>
    <div class="dish-full-query-status">
        Cooked it already? <a href="../add/{{dish.dish_id}}/">Update it!</a>
    </div>
    
    <div class="dish-full-recipe">
        Recipe: <a href="../../recipe/{{object.recipe_id_id}}/">{{ object.recipe_id }}</a>, a {{recipe.recipe_type}} first uploaded by <a href="../../chef/{{recipe.chef_id_id}}/">{{ recipe.chef_id}}</a>
    </div>
    
    {% if object.dish_source %}
    <div class="dish-full-subtitle">
        Source:
    </div>
    <div class="dish-full-method">
        {{ object.dish_source }}
    </div>
    {% endif %}
    
    <div class="dish-full-subtitle">
        Method:
    </div>
    <div class="dish-full-method">
        {{ object.dish_method|safe|hashtag_links }}
    </div>
    
    {% if object.dish_comments %}
    <div class="dish-full-subtitle">
        Comments/Review:
    </div>
    <div class="dish-full-chef-comments">
        {{ object.dish_comments|safe|hashtag_links }}
    </div>
    {% endif %}
    
    <div class="dish-full-subtitle">
        Comments:
    </div>
    
    {% if chef_comments %}
    {% for chef_comment in chef_comments %}
    <div class="dish-full-comments">
        {{chef_comment.chef_id}} <i> says </i> {{ chef_comment.chef_dish_comment|safe|hashtag_links }}
        <a href="/cooklog/comment/delete/{{chef_comment.chef_dish_comment_id}}/?next={{object.dish_id}}">[delete]</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="dish-full-comments">
        No one has commented yet!
    </div>
    {% endif %}
    <a href="{% url 'comment_add' %}?next={{object.dish_id}}">Add comment</a>
    
    <div class="dish-full-subtitle">
        Ingredients:
    </div>
    
    {% for ingredient in object.ingredient_id.all %}
    <div class="dish-full-ingredients">
        <a href="../../ingredient/{{ingredient.ingredient_id}}/">{{ ingredient.ingredient_name }}</a>
    </div>
    {% empty %}
    No ingredients listed.
    {% endfor %}
</div>

{% endifequal %}

{% for dish in recipe_dishes %}
<div class="dish-album">
    
    {{ dish.date_created|date:"D M.d"|lower }} |
    <div class="album-stars">
        {% if dish.dish_rating %}
        {% for i in "x"|rjust:dish.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="10"/>
        {% endfor %}
        {% endif %}
    </div>
    
    {% if dish.dish_image %}
    <div class="album-photo">
        <a href="/cooklog/dish/{{dish.dish_id}}/"><img src="/media/{{ dish.dish_image }}" /></a>
    </div>
    {% else %}
    <div class="album-img-placeholder">
        <a href="/cooklog/dish/{{dish.dish_id}}/"><img src="{% static "emoji/img/yum.png" %}" alt="My image"/></a>
    </div>
    {% endif %}
    
    <div class="album-dish-name">
        <a href="/cooklog/dish/{{dish.dish_id}}/">{{ dish.dish_name|safe|hashtag_links }}</a>
    </div>
</div>

{% endfor %}


{% endblock %}
