{% comment %}
Currently used for editing, not new dish (that is new_dish_form.html in folder above).
{% endcomment %}

<html>
    <head>
        <title>Dish Entry</title>
    </head>
    <body>
        <h2>Edit dish:</h2>
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
                </form>
    </body>
</html>
