{% comment %}
Currently used for editing, not new dish (that is new_dish_form.html in folder above).
{% endcomment %}

{% extends 'cooklog/__base.html' %}

<head>
    <title>Dish Entry</title>
</head>

{% block body_block %}
<div class="dish-entry">
    <div class="page-title">
        Edit dish:
    </div>
    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
</div>
</div>

{% endblock %}
