{% extends 'cooklog/__base.html' %}
{% load static %}
{% block body_block %}

<div class="page-text">
<a href="/cooklog/dish/add/{{object.dish_id}}/">Edit dish </a>
</div>
<div class="page-text">
{{ object.date_created|date:"D, M d" }}
</div>

<div class="page-title">
<a href="../../chef/{{object.chef_id_id}}/">{{ dish.chef_id.first_name }} {{ dish.chef_id.last_name.0}}'s</a> {{ object.dish_name }}
</div>


{% ifequal object.dish_status "1" %}
<div class="dish-full">
    
    <div class="dish-full-stars">
        {% if object.dish_rating %}
        {% for i in "x"|rjust:object.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="30"/>
        {% endfor %}
        {% endif %}
    </div>
    
    <div class="dish-full-recipe">
        Recipe: <a href="../../recipe/{{object.recipe_id_id}}/">{{ object.recipe_id }}</a>, a {{recipe.recipe_type}} (first uploaded by <a href="../../chef/{{recipe.chef_id_id}}/">{{ recipe.chef_id.first_name }} {{ recipe.chef_id.last_name.0}}</a>)
    </div>

    <div class="dish-full-subtitle">
        Photos:
    </div>
    <div class="dish-full-image">
        {% if object.dish_image %}
        <img src="/media/{{ object.dish_image }}" height="200" style="border: #F2D388 4px solid;"/>
        <p> {{ object.photo_comment }} </p>
        {% else %}
        No photos yet, <a href="/cooklog/dish/add/{{object.dish_id}}">upload here. </a>
        {% endif %}
    </div>

    <div class="dish-full-subtitle">
        Method:
    </div>
    <div class="dish-full-method">
        {{ object.dish_method }}
    </div>
    
    {% if object.dish_comments %}
    <div class="dish-full-subtitle">
        Chef comments:
    </div>
    <div class="dish-full-chef-comments">
        {{ object.dish_comments }}
        </div>
    {% endif %}

    <div class="dish-full-subtitle">
        Comments:
    </div>

    {% if chef_comments %}
    {% for chef_comment in chef_comments %}
    <div class="dish-full-comments">
        {{chef_comment.chef_id}} <i> says </i> {{ chef_comment.chef_dish_comment }}
    <a href="/cooklog/comment/delete/{{chef_comment.chef_dish_comment_id}}/?next={{object.dish_id}}">[delete]</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="dish-full-comments">
        No one has commented yet!
    </div>
    {% endif %}
    <a href="{% url 'comment_add' %}?next={{object.dish_id}}">Add comment</a>

    <div class="dish-full-subtitle">
        Likes:
    </div>
    {% if likes %}
    <div class="dish-full-likes">
        <img src="{% static "emoji/img/yum.png" %}" alt="yum" height="30"/>
        {{ likes|length }} person liked it!
        {% for like in likes %}
        <i><a href="../../chef/{{like.chef_id_id}}/">{{like.chef_id}}</a></i>,
        {% endfor %}
    </div>
    {% else %}
    <div class="dish-full-lies">
        No one likes it! (yet..)
    </div>
    {% endif %}
    {% if user_likes %}
    You've liked it already.
    {% else %}
    <a href="{% url 'like_add' %}?next={{object.dish_id}}">Like it.</a>
    {% endif %}

    <div class="dish-full-subtitle">
        Ingredients:
    </div>

    {% for ingredient in object.ingredient_id.all %}
    <div class="dish-full-ingredients">
    <a href="../../ingredient/{{ingredient.ingredient_id}}/">{{ ingredient.ingredient_name }}</a>
    </div>
    {% empty %}
    No ingredients listed.
    {% endfor %}
    </div>

{% else %}

<div class="dish-full">
    
    <div class="dish-full-days-until">
        Scheduled to cook on {{ dish.date_scheduled | date:"D, d-m"}}
    </div>
    <div class="dish-full-query-status">
        Cooked it already? <a href="../add/{{dish.dish_id}}/">Update it!</a>
    </div>
    
    <div class="dish-full-recipe">
        Recipe: <a href="../../recipe/{{object.recipe_id_id}}/">{{ object.recipe_id }}</a>, a {{recipe.recipe_type}} first uploaded by <a href="../../chef/{{recipe.chef_id_id}}/">{{ recipe.chef_id}}</a>
    </div>
    
    <div class="dish-full-subtitle">
        Method:
    </div>
    <div class="dish-full-method">
        {{ object.dish_method }}
    </div>
    
    <div class="dish-full-subtitle">
        Comments:
    </div>
    
    {% if chef_comments %}
    {% for chef_comment in chef_comments %}
    <div class="dish-full-comments">
        {{chef_comment.chef_id}} <i> says </i> {{ chef_comment.chef_dish_comment }}
        <a href="/cooklog/comment/delete/{{chef_comment.chef_dish_comment_id}}/?next={{object.dish_id}}">[delete]</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="dish-full-comments">
        No one has commented yet!
    </div>
    {% endif %}
    <a href="{% url 'comment_add' %}?next={{object.dish_id}}">Add comment</a>
    
    <div class="dish-full-subtitle">
        Ingredients:
    </div>
    
    {% for ingredient in object.ingredient_id.all %}
    <div class="dish-full-ingredients">
        <a href="../../ingredient/{{ingredient.ingredient_id}}/">{{ ingredient.ingredient_name }}</a>
    </div>
    {% empty %}
    No ingredients listed.
    {% endfor %}
</div>





{% endifequal %}

{% endblock %}
