{% extends 'cooklog/__base.html' %}

<head>
    <title>Recipe Entry</title>
</head>
{% block body_block %}

<div class="dish-entry">
    <div class="page-title">
        Enter or edit the RECIPE:
    </div>
    <div class="page-subtitle">
        Helpful links: <a href= "/cooklog/recipes/">see all recipes</a> |
        <a href="/cooklog/recipecategory/add/"> add new recipe category </a>
    </div>

    <div class="dish-entry-form">
        
        {% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        
        <form action="" method="post" enctype="multipart/form-data">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
            (If you're entering a DISH, after clicking Submit, you'll enter the DISH details on the next page)
        </form>
    </div>

</div>
{% endblock %}

