{% extends 'cooklog/__base.html' %}

{% block body_block %}

<p><a href="/cooklog/recipe/add/{{object.recipe_id}}/">Edit recipe </a></p>
<h2>{{ object.recipe_name }}</h2>

<p><i>(A {{object.recipe_type}}, first uploaded by <a href="../../chef/{{object.chef_id_id}}/">{{ object.chef_id }}</a> on {{ object.date_created|date }})</i><p>

{% if object.recipe_source %}
<h3>Source: </h3>
<p>{{ object.recipe_source }}</p>
{% endif %}

<h3>Dishes: </h3>

    {% for dish in dishes %}
        <li><i>{{ dish.date_created|date:"D, M d"}}:</i> <a href="../../dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a>
            {% if dish.dish_rating %}
        {% load static %}
        {% for i in "x"|rjust:dish.dish_rating %}
        <img src="{% static "emoji/img/star.png" %}" alt="star" height="15"/>
        {% endfor %}
        {% endif %}
    
    {% if dish.dish_image %}
    <p><ul><ul><ul><img src="/media/{{ dish.dish_image }}" height="120" style="border: #F2D388 4px solid;"/></ul></ul></ul></p>
    {% else %}
    
    {% endif %}
    </li>
    {% empty %}
    <p>No dishes yet: <a href="../../dish/add/">Add dish!</a></p>
    {% endfor %}

{% endblock %}
