<h1>{{ object.headline }}</h1>
<p>{{ object.content }}</p>
<p>Recipe name: {{ object.recipe_name }}</p>
<p>Chef: <a href="../../chef/{{object.chef_id_id}}/">{{ object.chef_id }}</a></p>
<p>Recipe type: {{ object.recipe_type }}</p>
<p>Recipe source: {{ object.recipe_source }}</p>
<p>Date created: {{ object.date_created|date }}</p>

{% comment %}
<p>Date today: {{ now|date }}</p>
{% endcomment %}

<ul>
    {% for dish in dishes %}
    <li>Dish for this recipe: <a href="../../dish/{{dish.dish_id}}/">{{ dish.dish_name }}</a> (Rating: {{dish.dish_rating}}/5) from {{ dish.date_created|date}}</li>
    {% empty %}
    <p>No dishes yet: <a href="../../dish/add/">Add dish!</a></p>
    {% endfor %}
    <p> Any photos will show below.. (oh dear.. for now, only the first dish's photos! + todo.. shift to inline with dish) </p>
    {% for photo in photos %}
    <img src="/media/{{ photo.dish_image }}" height="200"/>
    {% empty %}
    <p> No photos yet for this recipe </p>
    {% endfor %}
<ul>
