h2 a {
    color: #B1654B;
}

body {
    background-color: #e8eef4; /*#f8fbfd;*/
    color: #000000;
    font-family: 'Roboto';
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
}

h5 {
    color: #000000; /*#F2D388;*/
    font-size: 18px;
}

a:link {
    color: #B1654B;;
    font-family: 'Roboto';
}

a:visited {
    color: #B1654B;
    font-family:  'Roboto';
}

.w3-sidebar {
    font-size: 18px;
    color: #B1654B;
    font-family: 'Roboto';
}
.w3-sidebar a {
    color: #B1654B;
}



.page-header {
    background-color: #b4c7db; /*add8e6 #99D1B7;*/
    margin-top: 0;
    padding: 0px 0px 0px 0px;
    height: 40px;
    float: left;
    width: 100%;
}

.page-header-title a {
    font-size: 26px;
    font-weight: bold;
    color: #B1654B; /*#ca2558;*/
    font-family:  'Roboto';
}

.page-header-menu {
    font-size: 28px;
    color: #FDC08E;
    float: center;
    width: 320px;
}
.page-header-menu a {
    color: #B1654B;
}

.page-header-menu-button {
    color: #B1654B;
}

.page-header-menu-search {
    font-size: 28px;
    color: #F79273;
    float: left;
    width: 200px;
    margin-left: 20px;
}

.page-footer {
    font-size: 10px;
    color: #e75481;
    background-color: #218E8A; /* #99D1B7;*/
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Roboto';
}

.page-menu {
    margin-left: 20px;
    padding-bottom: 10px;
    display: block;
    list-style: none;
}

/*
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #C98474;
    font-size: 10pt;
    text-decoration: none;
    font-family:  'Merriweather', serif;
}
 */

.page-title {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #F79273;
    font-size: 18px;
}


.dish {
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    /*max-width: 500px;*/
    vertical-align: top;
    margin-left: 10px;
}

.dish-photo-column {
    display: inline-table;
    vertical-align: top;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.dish-text-column {
    display: inline-table;
    vertical-align: top;
    margin-top: 5px;
    width: 400px;
    margin-left: 10px;
/*    margin-bottom: 5px;*/
}
/*.dish-social-column {*/
/*    display: inline-table;*/
/*    vertical-align: top;*/
/*    width: 300px;*/
/*    margin-top: 5px;*/
/*    margin-left: 10px;*/
/*    margin-bottom: 5px;*/
/*}*/

.dish-header {
    padding-top: 4px;
    margin-left: 10px;
}

.dish-header-chef {
    display: inline-block;
    width: 80px;
}
.dish-header-chef a {
    color: #B1654B;
    font-weight: 700;
    font-size: 16px;
}

.dish-header-center-date {
    font-size: 12px;
    color: #F79273;
    display: inline-block;
    width: 100px;
    margin-top: 2px;
    text-align: right;
}
.dish-header-center-rating {
    font-size: 12px;
    color: #F79273;
    display: inline-block;
/*    width: 25%;*/
    width: 75px;
    margin-top: 2px;
    text-align: left;
}

.dish-header-right {
    color: #FDC08E;
    text-align: left;
    display: inline-block;
    width: 20%;
}
.dish-header-right a {
    color: #FDC08E;
    font-size: 14px;
}

.dish-header-recipe-name {
    font-size: 16px;
    font-weight: 700;
}
.dish-header-recipe-name a {
    color: #B1654B;
}
.dish-header-dish-name {
    font-size: 15px;
    font-weight: 500;
}
.dish-header-dish-name a {
    color: #B1654B;
}

.dish-photo {
}

.dish-photo-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 5px solid #feda9d;
}

.dish-photo-placeholder img {
    width: 100%;
    object-fit: cover;
    border: 5px solid #feda9d;
}

.dish-bottom {
    margin-left: 0px;
    margin-top: 5px;
    color: #000000;
    font-size: 12px;
}
.dish-method {
    margin-left: 10px;
    color: #666666;
/*    background: #e8eef4;*/
}
.dish-review {
    margin-left: 10px;
    color: #666666;
/*    background: #e8eef4;*/
}
.dish-tags {
    margin-left: 10px;
    color: #FDC08E;
}
.dish-tags a{
    color: #F79273;
}
.dish-method-label {
    display: inline-block;
    width: 40px;
    vertical-align: top;
    font-size: 10px;
    padding-top: 4px;
}
.dish-review-label {
    display: inline-block;
    width: 40px;
    vertical-align: top;
    font-size: 10px;
    padding-top: 4px;
}
.dish-method-text {
    display: inline-block;
    vertical-align: top;
    max-width: 340px;
}
.dish-review-text {
    display: inline-block;
    vertical-align: top;
    max-width: 340px;
}
.dish-likes {
    height: 25px;
    background-color: #e8eef4;
}
.dish-likes-like {
/*    color: #F79273;*/
    font-size: 14px;
    display: inline-block;
    width: 40px;
    padding-left: 5px;
}
.dish-likes-like a {
    color: #F79273;
    font-size: 14px;
}
.dish-likes-chef-list {
    font-size: 10px;
    display: inline-block;
    color: #666666;
}
.dish-likes-chef-list a {
    color: #B1654B
}
.dish-comments {
    background: #e8eef4;
    padding-left: 10px;
    margin-bottom: 2px;
    font-size: 10px;
    color: #666666;
    max-height: 82px;
    overflow: hidden;
}
.dish-comments-icon {
    display: inline-block;
    width: 40px;
    padding-left: 5px;
    vertical-align: top;
    font-size: 14px;
}
.dish-comments-icon a{
    color: #FDC08E;
}
.dish-comments-wrapper {
    display: inline-block;
}
.dish-single-comment {
    display: block;
    width: 345px;
}
.dish-comments-name {
    display: inline-block;
    width: 40px;
}
.dish-comments-name a{
    color: #B1654B;
}
.dish-comments-comment {
    display: inline-block;
}


.detail-head {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.detail-title {
    color: #F79273;
    font-size: 18px;
    display: inline-block;
    width: 500px;
}
.detail-title a{
    color: #B1654B;
    font-size: 18px;
}
.detail-head-right {
    color: #FDC08E;
    display: inline-block;
    width: 20%;
}
.detail-head-right a {
    color: #FDC08E;
    font-size: 14px;
}
.detail-text {
    background: #ffffff;
    margin-left: 10px;
    width: 100%;
    max-width: 500px;
    vertical-align: top;
    margin-bottom: 10px;
}
.detail-text-section {
    margin-left: 5px;
    margin-top: 5px;
}
.detail-text-section a{
    color: #F79273;
}
.detail-text-section-left {
    display: inline-block;
    width: 60px;
    vertical-align: top;
}
.detail-text-section-right {
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
}

.detail-photo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.detail-photo-image img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #feda9d;
}
.detail-photo-placeholder img {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border: 5px solid #feda9d;
}
.detail-likes {
    margin-left: 10px;
}
.detail-comments {
    .margin-left: 10px;
}



.add-comment {
    font-size: 10px;
}





.page-subtitle {
    font-size: 14px;
    color: #ADD8E6; /*#99D1B7;*/
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family:  'Roboto';
}


.dev {
    font-size: 10px;
    color: #000000;
    border: 1px solid;
    width: 25%;
    padding-left: 3px;
    padding-top: 3px;
}


.dish-mini {
    margin-left: 10px;
    min-height: 110px;
    background: #ffffff;
    margin-bottom: 10px;
    width: 100%; /* mobile should be 100%!*/
}


.dish-mini-image-column {
    display: inline-table;
    vertical-align: top;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.dish-mini-text-column {
    display: inline-table;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #666666;
}

.dish-mini-stars {
    font-size: 12px;
    padding-left: 0px;
    width: 75px;
    display: inline-block;
    color: #FDC08E;
}
.dish-mini-date-inline {
    color: #FDC08E;
    display: inline;
}
.dish-mini-dish-name {
    width: 300px;
    vertical-align: top;
}
.dish-mini-dish-name a{
    color: #B1654B;
}
.dish-mini-dish-chef-name a{
    color: #F79273;
}
.dish-mini-dish-chef-name {
    display: inline;
}

.dish-mini-recipe-icon {
    display: inline;
}

.dish-mini-recipe-icon img{
    margin-bottom: 2px;
}
.dish-mini-tags {
    font-size: 10px;
    width: 280px;
    color: #FDC08E;
}
.dish-mini-tags a{
    color: #F79273;
}
.dish-mini-dish-method {
    font-size: 10px;
    background: #f6fbfc;
    margin-bottom: 2px;
    width: 280px;
}

.dish-mini-dish-comments {
    font-size: 10px;
    background: #f6fbfc;
    margin-bottom: 2px;
    width: 280px;
}

.dish-mini-social-comments-and-likes {
    font-size: 10px;
    background: #f3f9f9;
    margin-bottom: 2px;
    width: 280px;
}
.dish-mini-social-comments-and-likes a {
    color: #F79273;
}
.dish-mini-likes-icon {
    display: inline-block;
    width: 35px;
    padding-left: 5px;
}
.dish-mini-likes {
    display: inline-block;
}
.dish-mini-comments-icon {
    display: inline-block;
    width: 35px;
    padding-left: 5px;
    vertical-align: top;
}
.dish-mini-comments {
    display: inline-block;
    max-height: 72px;
    overflow: hidden;
}
.dish-mini-single-comment {
    width: 230px;
}
.dish-mini-comments-name {
    display: inline-block;
    width: 30px;
}
.dish-mini-comments-comment {
    display: inline-block;
}



.dish-mini-date {
    float: left;
    font-size: 12px;
    color: #FDC08E;
    width: 80px;
}

.dish-mini-date-long {
    float: left;
    font-size: 12px;
    color: #FDC08E;
    width: 100px;
    padding-top: 5px;
}

.dish-mini-date-extra-long {
    float: left;
    font-size: 12px;
    color: #FDC08E;
    width: 130px;
    padding-top: 5px;
}

.dish-mini-days-until {
    float: left;
    font-size: 12px;
    color: #FDC08E;
    width: 80px;
}

.dish-mini-chef {
    float: left;
    padding: 0 30px;
    width: 140px;
}

.dish-mini-chef a {
    font-size: 16px;
    color: #F79273;
}

.dish-mini-inner {
    font-size: 13px;
    padding: 0 30px;
    width: 450px;
    margin: 0px 0;
    float: left;
}

.dish-mini-inner-name {
    float: top;
    padding-top: 0px;
    font-size: 16px;
}

.dish-mini-inner-name a {
    color: #B1654B;
}

.dish-mini-inner-rating {
    float: top;
    padding-top: 5px;
}
.dish-mini-inner-recipe {
    float: top;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.dish-mini-inner-recipe a {
    color: #FDC08E;
}
.dish-mini-inner-method { /* used elsewhere than chef to-do??*/
    float: top;
    padding-top: 0px;
    font-size: 12px;
    color: #000000; /* or 008080? */
}

.dish-mini-image {
    font-size: 13px;
    padding: 0 0px;
    margin: 0px 0;
    float: left;
    width: 120px;
}
.dish-mini-edit {
    font-size: 12px;
}

.dish-brief {
    padding-left: 40px;
    min-height: 30px;
}

.dish-brief-inner {
    font-size: 13px;
    padding: 0 2px;
    width: 1200px;
    margin: 0px 0;
    float: left;
}

.dish-brief-inner-edit {
    font-size: 12px;
    float: left;
    padding-top: 5px;
    width: 30px;
}

.dish-brief-inner-name {
    float: left;
    padding-top: 0px;
    font-size: 16px;
    width: 450px;
    word-wrap: break-word;
}

.dish-brief-inner-name a {
    color: #F79273;
}

.dish-brief-inner-rating {
    float: left;
    padding-top: 5px;
    width: 100px;
}
.dish-brief-inner-recipe {
    float: left;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 12px;
    width: 30px;
}
.dish-brief-inner-recipe a {
    color: #FDC08E;
}

.dish-album {
    width = 200px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    display: inline-block;
    color: #666666;
}

.album-date {
    color: #FDC08E;
    display: inline;
}

.ingredient-album {
    width = 120px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block
}

.dish-full-image-holder {
    
}

.dish-full-image img {
    height: 180px;
    object-fit: cover;
    border: #FDC08E 4px solid;
}

.album-photo img {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border: 3px solid #FDC08E;
    margin-bottom: 2px;
}

.album-img-placeholder img {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border: 3px solid #FDC08E;
    /*filter: grayscale(100%);*/
    margin-bottom: 2px;
}

.album-photo-ingredients img {
    height: 90px;
    width: 120px;
    object-fit: cover;
    border: 4px solid #FDC08E;
    margin-bottom: 2px;
}

.album-img-ingredients-placeholder img {
    height: 90px;
    width: 120px;
    object-fit: cover;
    border: 4px solid #FDC08E;
    filter: grayscale(100%);
    margin-bottom: 2px;
}

.album-stars {
    font-size: 12px;
    padding-left: 0px;
    width: 100px;
    display: inline-block;
    color: #F79273;
}

.album-dish-name {
    display: inline-block;
    width: 240px;
    height: 50px;
    vertical-align: top;
}
.album-dish-name a{
    color: #B1654B;
}
.album-dish-chef-name a{
    color: #F79273;
}
.album-dish-chef-name {
    
    display: inline;
}

.album-recipe-icon {
    display: inline;
}

.album-recipe-icon img{
    margin-bottom: 2px;
}

.album-ingredient-name {
    display: inline-block;
    width: 150px;
    height: 20px;
    vertical-align: bottom;
    font-size: 14px;
}

.crop img {
    height: 90px;
    width: 120px;
    object-fit: cover;
    border: 4px solid #FDC08E;
}

.crop-image img {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border: 3px solid #FDC08E;
}

.crop-placeholder img {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border: 3px solid #FDC08E;
    margin-bottom: 2px;
    /*filter: grayscale(100%);*/
}

.page-text {
    font-size: 14px;
    padding-left: 40px;
    padding-bottom: 0px;
    color: #000000;
    padding-top: 10px;
}

.dish-full {
    margin-left: 40px;
    margin-bottom: 40px;
}

.dish-full-stars {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dish-full-method {
    width: 600px;
}

.dish-full-method a {
    font-style: bold;
    color: #F79273;
}

.dish-full-chef-comments {
    width: 600px;
    padding-bottom: 10px;
}

.dish-full-subtitle {
    font-size: 12px;
    color: #ADD8E6; /*#99D1B7;*/
    padding-top: 12px;
    margin-left: -10px;
    padding-bottom: 5px;
    font-family:  'Roboto';
}

.dish-social-comments-and-likes {
    border: 4px solid #FDC08E;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    padding-bottom: 10px;
    font-size: 12px;
}

.dish-full-comments {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.dish-full-no-comments {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
}

.dish-likes {
    padding-left: 10px;
}

.dish-button-add-comment {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 90px;
    font-size: 10px;
}

.dish-button-add-like {
    margin-left: 20px;
    background: #FDC08E;
    width: 80px;
}

.dish-full-likes {
    font-size: 12px;
}



.dish-full-no-likes {
    font-size: 12px;
    font-style: italic;
    
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}


.dish-full-days-until {
    padding-top: 20px;
    padding-bottom: 20px;
}
.dish-full-query-status {
    padding-bottom: 20px;
}

.dish-empty {
    padding-left: 40px;
    padding-bottom: 20px;
}

.dish-entry-form {
    padding-left: 40px;
    padding-bottom: 40px;
}


.content {
    margin-left: 40px;
}

h1, h2 {
    padding-left: 10px;
    font-family:  'Roboto';
    color: #B1654B;
}

h3 {
    font-family: 'Roboto';
    color: #B1654B;
}

h4 {
    font-family:  'Roboto';
    color: #ADD8E6; /*#99D1B7;*/
}


.date {
    color: #A7D2CB;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #B1654B;
    float: right;
    font-size: 10pt;
    margin-right: 15px;
}








/* Dropdown Button */
.dropbtn {
    background-color: #ADD8E6; /*#99D1B7;*/
    color: white;
    padding: 2px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #F2D388}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #F2D388 ;
}







